hr{
    border: none;
    border-top: 2px solid rgb(255, 216, 0);
    margin: 20px 0;
}

/* Top Contact Bar */
.topbar {
    background:#007bff;
    color:white;
    padding:8px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size:13px;
}
.topbar a { color:white; text-decoration:none; margin-left:0px; } 

/* Hero Header */
header::before {
    content:"";
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    background:rgba(0,0,0,0.1); /* dark overlay */
}
header .hero-text {
    position:relative;
    z-index:1;
}
header h1 { font-size:3rem; color: aqua; margin:0; margin-bottom: -10px; }
header p { font-size:1.2rem; color: white; }


footer { background:rgba(0,0,0,0.5); 
        color:white; 
        padding:10px;
        text-align:center; 
        border-radius:10px;}

/* Sections */
section { padding:40px; text-align:center; color: black; }
.contact-form { max-width:500px; margin:auto; }
input, textarea { width:100%; padding:10px; margin:10px 0; border-radius:5px; border:1px solid #ccc; }
button { padding:10px 20px; background:#007bff; color:white; border:none; border-radius:5px; cursor:pointer; }

.social-icons a {
    color:white;
    margin:0 10px;
    font-size:20px;
    text-decoration:none;
}

.hover:hover {
    transform: scale(1.25);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* WhatsApp Floating Button */
.whatsapp-float {
    position:fixed;
    bottom:20px;
    right:20px;
    height: 26px;
    background:#25D366;
    color:white;
    border-radius:50%;
    padding:15px;
    font-size:25px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    text-decoration:none;
    z-index:1000;
}

.paragraph-header{
    font-weight: bold;
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 15px;
}

.places-to-visit p{
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 15px;
}

.services-text h3{
    color: rgb(0, 255, 233);
}

.services-text p{
    color: white;
    font-size: 14px;
    margin-top: -10px;
}

/* Brand Name and Slogan Styles
@media screen and (max-width: 600px) {
    .brand-name{
        font-size: 18px;
    }
    .brand-slogan{
        font-size: 12px;
    }
    .brand-slogan-lastline{
        font-size: 14px;
    }
    .navbar a {
        font-size: 12px;
    }

    header h1 { font-size:1.2rem; color: aqua; margin:0; margin-bottom: -10px; }
    header p { font-size:0.8rem; color: white; }

    .topbar {
    background:#007bff;
    color:white;
    padding:8px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size:8px;
    }

    .topbar a { color:white; text-decoration:none; margin-right:0px; } 

}
     */